.hero {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}

.hero p {
  font-size: 24px;
  margin-top: 0;
}

.subtitle {
  font-size: 36px;
  margin-bottom: 24px;
}

.link-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 800;
  font-family: inherit;
  background-color: #646cff;
  color: white;
  width: fit-content;
  cursor: pointer;
  transition: border-color 0.25s;
}
.link-button:hover {
  border-color: #646cff;
  color: #b3b7ff;
}
.link-button:focus,
.link-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-text {
  max-width: 70%;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


.accordion {
  border: 2px solid rgba(37, 37, 37, 0.215);
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 24px;

  img {
    max-width: 100%;
  }

  .no-cursor {
    cursor: default !important;
  }
}

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(37, 37, 37, 0.215);
}

.accordion__button {
  background-color: #646cff;
  color: rgb(249, 249, 249);
  border-radius: 4px;
  cursor: pointer;
  padding: 16px;
  max-width: 100%;
  text-align: left;
  line-height: 180%;
  font-weight: 700;
  transition: 0.2s;
  -moz-transition: 0.2s;
}

.accordion__button:hover {
  transition: 0.2s;
  -moz-transition: 0.2s;
}

.accordion__button:before {
  display: inline-block;
  content: "";
  height: 10px;
  width: 10px;
  margin-right: 24px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
  transform: rotate(45deg) translateY(-3px);
}

[hidden] {
  display: none;
}

.accordion__panel {
  padding-left: 16px;
  padding-right: 16px;
  animation: fadein 0.35s ease-in;
}

@media (prefers-color-scheme: dark) {
  .accordion {
    border: 2px solid rgba(210, 210, 210, 0.108);
  }
}

.caption {
  font-style: italic;
  text-align: center;
  margin-top: 0;
}

.diagram {
  display: flex;
  flex-direction: row;
  width: 100%;

  .illustration {
    width: 60%;
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 16px;
  }

  .part {
    margin-bottom: 24px;
  }

  .top {
    height: 40%;
  }
  .bottom {
    vertical-align: middle;
    height: 60%;

    .part {
      margin-bottom: 96px;
    }
  }

  p {
    font-size: 18px;
  }
}

.sr {
  color: #a8eb00;
}

.sp {
  color: #b342ff;
}

.ui {
  color: #ff7c00;
}

.photo {
  margin-top: 36px;
}

.feature-content {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  .feature {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    h1 {
      font-size: 72px;
      margin: 0;
    }

    .small {
      max-width: 100px;
    }

    .big {
      max-width: 250px;
    }
  
    p {
      
      padding-left: 8px;
    }
  }
}



@media only screen and (max-width: 1000px) {
    .content {
      display: flex;
      flex-direction: column-reverse;
      justify-content: auto;
    }
  
    .content-text {
      max-width: 100%;
    }
  
    .diagram {
      flex-direction: column-reverse;
      width: 100%;
  
      .illustration {
        width: 100%;
      }
  
      .right {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-left: 0;
      }
  
      .top {
        height: auto;
      }
      .bottom {
        vertical-align: auto;
        height: auto;
  
        .part {
          margin-bottom: auto;
        }
      }
    }
  }
  